* {
  box-sizing: border-box;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}
:root {
  --marvelRed: #e62429;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
/* font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif; */
/* <<<<<<<<<<<<<<<<<<HEADER>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
header {
  background-color: #1F1F1F;
  color: white;
}
ul {
  list-style: none;
  padding: 0px;
}
.header__border {
  border-bottom: 1px solid #393939;
}
.header__top {
  height: 50px;
  display: flex;
  justify-content: space-between;
}
.header__user-desktop, .header__search {
  display: flex;
  align-items: center;
}
.header__user-desktop {
  border: 1px solid  #393939;
  border-bottom: none;
  padding: 0px 25px;
}
.header__user-desktop > span {
  margin-right: 10px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
}
.header__user-desktop .icon--svg {
  width: 20px;
  height: 20px;
  fill: white;
}
.header__user-mobile {
  display: none;
}
.header__logo > svg {
  height: 100.91%;
}
.search__credit_card, .search__icon_container {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0px 20px;
  border: 1px solid #393939;
  border-bottom: none;
}
.search__credit_card {
  border-right: none;
}
.search__credit_card > .icon--svg {
  height: 19px;
  margin-right: 10px;
}
.search__credit_card > .icon--svg > svg {
  height: inherit;
  width: 30px;
}
.credit_card__text {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  line-height: 10px;
  margin-top: 2px;
}
.search__icon_container > .icon--svg {
  width: 19px;
  height: 17px;
  fill: none;
  stroke: #fff;
  stroke-width: 2px;
}
.header__middle {
  display: flex;
  justify-content: center;
}
.header__menu > ul {
  height: 40px;
  display: flex;
  align-items: center;
  font-size: 12px;
}
.header__menu > ul > li {
  height: inherit;
  display: flex;
  align-items: center;
  padding: 0px 15px;
  cursor: pointer;
}
.header__menu > ul > li:hover > span {
  box-shadow: 0px -1px 0 0 red inset;
}
.header__menu > ul:hover > li > span {
  color: gray;
}
.header__menu > ul > li:hover > span {
  color: white;
}
.header__menu > ul > li > span {
  height: inherit;
  display: flex;
  align-items: center;
  font-family: 'Roboto Condensed', sans-serif;
}
.header__bottom {
  background-color: #141414;
  display: flex;
  justify-content: center;
}
.header__bottom-text_desktop, .header__bottom-text_mobile {
  font-size: 14px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  padding: 10px 0px;
  margin-bottom: 0px;
  letter-spacing: .5px;
  margin-right: 10px;
}
.header__bottom-text_mobile {
  display: none;
}
/* <<<<<<<<<<<<<<<<<<MAIN>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
main {
  height: 65vh;
  margin-bottom: 100px;
}
h1 {
  margin: 0px;
}
.main__image-first {
  width: 100%;
  height: 65vh;
  position: absolute;
}
.main__image_description {
  height: inherit;
  position: relative;
  color: white;
  display: flex;
  flex-direction:column;
  justify-content: center;
}
.main__image {
  width: fit-content;
}
.main__image_description > h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 44px;
  font-weight: 500;
}
.main__image_description > p {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.main__image_description > h1, .main__image_description > .main__image, .main__image_description > p {
  margin-bottom: 15px;
}
.main__image_description > button {
  width: fit-content;
  padding: 15px 30px;
  background-color: #E62429;
  border: none;
  border-radius:35px 0px 35px 0px;
  color: white;
  font-weight: 700;
  font-size: 13px;
  cursor: pointer;
  outline: none;
}
.main__image_description > button:hover {
  background-color: #9f0013;
}
.main__images_menu {
  margin-left: 12vw;
}
.main__images_menu > nav {
  width: 65vw;
  background-color: white;
  position: relative;
  bottom: 30px;
}
.main__images_menu > nav > ul {
  display: flex;
}
.main__images_menu > nav > ul > li {
  font-size: 14px;
  font-family: 'Roboto Bold', sans-serif;
  font-weight: 700;
  color: #151515;
  width: 25%;
  padding: 20px 0px 30px 20px;
  cursor: pointer;
}
/* <<<<<<<<<<<<<<<<<<FIRST SECTION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.comics {
  display: flex;
  flex-wrap: wrap;
  height: 60vh;
}
.comics__first_container, .comics__second_container {
  height: inherit;
}
.comics__first_container {
  width: 45%;
  background-color: #151515;
  position: relative;
}
.comics__second_container {
  width: 55%;
}
.first_container__triangle {
  width: 0;
  height: 0;
  border-top: 60vh solid #151515;
  border-left: 9vw solid transparent;
  position: absolute;
  transform: rotate(540deg);
  right: -20%;
}
.first_container__information {
  height: inherit;
  margin-left: 14vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.first_container__information > img {
  margin-top: 30px;
}
.first_container__information img, p, h1, button {
  width: fit-content;
  margin-bottom: 15px;
}
.first_container__information > h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 40px;
  font-weight: 800;
  color: white;
}
.first_container__information > p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: white;
  letter-spacing: .5px;
}
.comics__second_container > img {
  width: 100%;
  height: 100%;
}
.comics_catalogue__container {
  margin-left: 14vw;
  display: flex;
  padding: 25px 20px;
  background-color: white;
  margin-top: -50px;
  z-index: 1;
}
.comics_catalogue__container > figure:not(:last-child) {
  margin-right: 20px;
}
.comics_catalogue__container > figure > img {
  margin-bottom: 15px;
}
.comics__description, .comics__title {
  font-family: 'Roboto Bold', sans-serif;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}
.comics__description {
  margin-bottom: 0px;
}
.comics__description:hover  {
  color: var(--marvelRed);
}
.comics__description:hover ~ img {
  transform: translateY(-18px);
}
.comics__title {
  margin-bottom: 10px;
  color: var(--marvelRed);
}


/* <<<<<<<<<<<<<<<<<<Screens <  1200px>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media screen and (max-width: 840px) {
  .header__user-desktop {
    display: none;
  }
  .header__user-mobile {
    display: flex;
    align-items: center;
  }
  .mobile_nav__icon {
    padding-left: 30px;
    cursor: pointer;
  }
  .mobile_nav__icon > svg {
    fill: white;
  }
  .search__credit_card, .header__middle {
    display: none;
  }
  .header__border, .search__icon_container {
    border: none
  }
  .header__bottom-text_desktop {
    display: none;
  } 
  .header__bottom-text_mobile {
    display: block;
    font-size: 12px;
    letter-spacing: normal;
    padding: 11px 0;
  }
  .movile_nav__menu-container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: #151515;
    z-index: 1;
    display: none;
  }
  .movile_nav__menu-container.open {
    display: block;
  }
  .mobile_nav__close_icon > svg {
    stroke: white;
  }
}
