* {
  box-sizing: border-box;
  margin: 0px;
}
/* <<<<<<<<<<<<<<<<<<HEADER>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
header {
  background-color: #1F1F1F;
  color: white;
}
ul {
  list-style: none;
  padding: 0px;
}
.header__top {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-around;
  border-bottom: 3px solid #393939;
}
.header__user, .header__search {
  display: flex;
  align-items: center;
}
.header__user {
  border: 1px solid  #393939;
  border-bottom: none;
  padding: 0px 20px;
}
.header__user > span {
  margin-right: 10px;
}
.search__credit_card, .search__icon_container {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0px 20px;
  border: 1px solid #393939;
  border-bottom: none;
}
.icon-credit-card {
  font-size: 25px;
  margin-right: 10px;
}
.credit_card__text {
  font-size: 12px;
  line-height: 10px;
  margin-top: 2px;;
}
.header__middle {
  display: flex;
  justify-content: center;
}
.header__menu > ul {
  height: 40px;
  display: flex;
  align-items: center;
  font-size: 12px;
}
.header__menu > ul > li {
  height: inherit;
  display: flex;
  align-items: center;
  padding: 0px 15px;
  cursor: pointer;
}
.header__menu > ul > li:hover > span {
  border-bottom:2px solid red;
}
.header__menu > ul:hover > li > span {
  color: gray;
}
.header__menu > ul > li:hover > span {
  color: white;
}
.header__menu > ul > li > span {
  height: inherit;
  display: flex;
  align-items: center;
}
.header__bottom {
  background-color: #141414;
  display: flex;
  justify-content: center;
  font-size: 13px;
}
.header__bottom > p {
  padding: 10px 0px;
}
/* <<<<<<<<<<<<<<<<<<MAIN>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
main {
  height: 65vh;
  margin-bottom: 100px;
}
h1 {
  margin: 0px;
}
.main__image-first {
  width: 100%;
  height: 65vh;
  position: absolute;
}
.main__image_description {
  height: inherit;
  position: relative;
  color: white;
  margin-left: 12vw;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: space-between;
}
.main__image_description > h1, .main__image_description > p {
  margin-bottom: 15px;
}
.main__image_description > button {
  width: fit-content;
  padding: 15px 30px;
  background-color: #E62429;
  border: none;
  border-radius:35px 0px 35px 0px;
  color: white;
  font-weight: 700;
  font-size: 13px;
  cursor: pointer;
  outline: none;
}
.main__image_description > button:hover {
  background-color: #9f0013;
}
.main__image_menu {
  margin-left: 12vw;
}
.main__image_menu > nav {
  width: 65vw;
  background-color: white;
  position: relative;
  bottom: 30px;
}
.main__image_menu > nav > ul {
  display: flex;
}
.main__image_menu > nav > ul > li {
  font-size: 13px;
  font-weight: 600;
  width: 25%;
  padding: 20px 0px 30px 20px;
  cursor: pointer;
}
/* <<<<<<<<<<<<<<<<<<FIRST SECTION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.comics {
  display: flex;
  height: 60vh;
}
.comics__first_container, .comics__second_container {
  height: inherit;
}
.comics__first_container {
  width: 45%;
  background-color: #151515;
  position: relative;
}
.comics__second_container {
  width: 55%;
  background-color: #122663;
}
.first_container__triangle {
  width: 0;
  height: 0;
  border-top: 60vh solid #151515;
  border-left: 9vw solid transparent;
  position: absolute;
  transform: rotate(540deg);
  right: -20%;
}
.first_container__information {
  height: inherit;
  margin-left: 14vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.first_container__information img, p, h1, button {
  width: fit-content;
  margin-bottom: 15px;
}